<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantName" value="MngEnvMCAP367749" />
    <add key="TenantId" value="15154ad7-be1f-4ec1-886f-403223210051" />
    <add key="ClientId" value="0d68a982-b459-48e2-b7ec-42ad9d36af8f" />
    <add key="CertPath" value="C:\Projects\HowToInSharePoint\git\howtoinshsarepoint\SelfSinedCertificate\csomMS.pfx" />
    <add key="CertPassword" value="Awww3!" />
  </appSettings>
</configuration>
